@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pop-out {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px) scale(1);
  }
}

.animate-pop-out {
  /* This class will apply our animation */
  animation: pop-out 0.6s ease-out forwards;
}